body {
  font-family: sans-serif;
  font-size: 16px;
}


@font-face {
  font-family: 'Roboto-Regular';
  src:  url('./Roboto-Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}


.hello {
  color: red;
  font-family: 'Roboto-Regular';
  background: url('./icon.jpg');
}


