html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.slider {
  width: 80%;
  background-color: #f0f0f0;
  height: 50%;
  margin: auto;
  padding: 10px;
  border: 1px solid red;
  overflow: hidden;

  // holder
  .slide-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid yellow;
    // overflow: hidden;
    display: flex;
    flex-direction: row;
    // ? pointer-events:none? FIX: nudging problem with touch device
    touch-action: none;
    transform: translate(0, 0); // important to set initial translate

    .slide-card {
      height: 100%;
      min-width: 100%;
      background-color: cyan;
      margin-right: 10px;
    }
  }
}

.animate {
  transition: transform 0.3s ease-out;
}

// IE 10 Support
.ms-touch.slider {
  overflow-x: scroll;
  overflow-y: hidden;

  -ms-overflow-style: none;
  /* Hides the scrollbar. */

  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */

  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */

  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}
